In [3]:
"""
DATA CLEANING PIPELINE - Student Performance Dataset
Author: Elys√©e NIYIBIZI
Date: 05/01/2026

Professional data cleaning workflow following industry best practices.
This pipeline transforms raw data into analysis-ready format while
maintaining data integrity and providing clear documentation.

Dataset: Student Performance Data
Objective: Clean, validate, and prepare data for machine learning
"""

# CELL 1: Import Libraries and Load Data
# =======================================
import pandas as pd
import numpy as np

print("üìö IMPORTING LIBRARIES")
print("-" * 40)
print("‚úÖ pandas: Data manipulation and analysis")
print("‚úÖ numpy: Numerical operations and handling missing values")

# Load data from specified path structure
print("\nüìÅ LOADING DATASET")
print("-" * 40)
try:
    df = pd.read_csv('../data/raw/student_performance.csv')
    print(f"‚úÖ Dataset loaded successfully from: data/raw/student_performance.csv")
    print(f"   Initial shape: {df.shape}")
except FileNotFoundError:
    print("‚ùå ERROR: File not found. Please ensure:")
    print("   1. The 'data/raw/' directory exists")
    print("   2. 'student_performance.csv' is in that directory")
    raise

üìö IMPORTING LIBRARIES
----------------------------------------
‚úÖ pandas: Data manipulation and analysis
‚úÖ numpy: Numerical operations and handling missing values

üìÅ LOADING DATASET
----------------------------------------
‚úÖ Dataset loaded successfully from: data/raw/student_performance.csv
   Initial shape: (395, 33)

In [4]:
# CELL 2: Initial Data Assessment
# ===============================
print("üîç INITIAL DATA ASSESSMENT")
print("=" * 60)

print("\n1. DATA PREVIEW (First 5 Rows)")
print("-" * 40)
df.head()

üîç INITIAL DATA ASSESSMENT
============================================================

1. DATA PREVIEW (First 5 Rows)
----------------------------------------

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [5]:
print("\n2. DATASET STRUCTURE & DATA TYPES")
print("-" * 40)
df.info()

2. DATASET STRUCTURE & DATA TYPES
----------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

In [6]:
print("\n3. MISSING VALUES CHECK")
print("-" * 40)
missing_values = df.isnull().sum()
print(f"Total missing values: {missing_values.sum()}")
print("\nMissing values per column:")
missing_df = missing_values[missing_values > 0]
if len(missing_df) > 0:
    print(missing_df)
else:
    print("‚úÖ No missing values found in any column")

3. MISSING VALUES CHECK
----------------------------------------
Total missing values: 0

Missing values per column:
‚úÖ No missing values found in any column

In [7]:
print("\n4. DUPLICATE RECORDS CHECK")
print("-" * 40)
duplicate_count = df.duplicated().sum()
print(f"Duplicate rows found: {duplicate_count}")
print(f"Duplicate percentage: {(duplicate_count/len(df)*100):.2f}%")

4. DUPLICATE RECORDS CHECK
----------------------------------------
Duplicate rows found: 0
Duplicate percentage: 0.00%

In [8]:
# CELL 3: Handle Missing Values
# =============================
print("üßπ HANDLING MISSING VALUES")
print("=" * 60)

print("\nSTRATEGY FOR HANDLING MISSING DATA:")
print("-" * 40)
print("üìä NUMERICAL COLUMNS ‚Üí Fill with Median")
print("   ‚Ä¢ Why? Median is robust to outliers")
print("   ‚Ä¢ Preserves data distribution better than mean")
print("   ‚Ä¢ Less sensitive to extreme values")

print("\nüè∑Ô∏è CATEGORICAL COLUMNS ‚Üí Fill with Mode")
print("   ‚Ä¢ Why? Mode is the most frequent value")
print("   ‚Ä¢ Maintains categorical distribution")
print("   ‚Ä¢ Most logical imputation for categories")

# Identify column types
categorical_cols = df.select_dtypes(include=['object']).columns
numerical_cols = df.select_dtypes(include=[np.number]).columns

print("\nüîß IMPLEMENTING IMPUTATION")
print("-" * 40)

# Track imputation details
imputation_details = []

# Handle numerical columns
for col in numerical_cols:
    if df[col].isnull().sum() > 0:
        median_val = df[col].median()
        missing_count = df[col].isnull().sum()
        df[col].fillna(median_val, inplace=True)
        imputation_details.append(f"   ‚Ä¢ {col}: {missing_count} missing ‚Üí Median: {median_val:.2f}")

# Handle categorical columns
for col in categorical_cols:
    if df[col].isnull().sum() > 0:
        mode_val = df[col].mode()[0]
        missing_count = df[col].isnull().sum()
        df[col].fillna(mode_val, inplace=True)
        imputation_details.append(f"   ‚Ä¢ {col}: {missing_count} missing ‚Üí Mode: '{mode_val}'")

# Show imputation results
if imputation_details:
    print("Imputation performed on:")
    for detail in imputation_details:
        print(detail)
else:
    print("‚úÖ No imputation needed - no missing values found")

print(f"\n‚úÖ Missing values after imputation: {df.isnull().sum().sum()}")

üßπ HANDLING MISSING VALUES
============================================================

STRATEGY FOR HANDLING MISSING DATA:
----------------------------------------
üìä NUMERICAL COLUMNS ‚Üí Fill with Median
   ‚Ä¢ Why? Median is robust to outliers
   ‚Ä¢ Preserves data distribution better than mean
   ‚Ä¢ Less sensitive to extreme values

üè∑Ô∏è CATEGORICAL COLUMNS ‚Üí Fill with Mode
   ‚Ä¢ Why? Mode is the most frequent value
   ‚Ä¢ Maintains categorical distribution
   ‚Ä¢ Most logical imputation for categories

üîß IMPLEMENTING IMPUTATION
----------------------------------------
‚úÖ No imputation needed - no missing values found

‚úÖ Missing values after imputation: 0

In [9]:
# CELL 4: Remove Duplicate Records
# =================================
print("üîç REMOVING DUPLICATE RECORDS")
print("=" * 60)

# Store initial count
initial_rows = len(df)
initial_duplicates = df.duplicated().sum()

print(f"\nBEFORE REMOVAL:")
print(f"   ‚Ä¢ Total rows: {initial_rows:,}")
print(f"   ‚Ä¢ Duplicate rows: {initial_duplicates}")
print(f"   ‚Ä¢ Duplicate percentage: {(initial_duplicates/initial_rows*100):.2f}%")

# Remove duplicates
df.drop_duplicates(inplace=True, keep='first')

# Calculate after removal
remaining_rows = len(df)
rows_removed = initial_rows - remaining_rows

print(f"\nAFTER REMOVAL:")
print(f"   ‚Ä¢ Total rows: {remaining_rows:,}")
print(f"   ‚Ä¢ Rows removed: {rows_removed}")
print(f"   ‚Ä¢ Unique rows preserved: {remaining_rows:,}")

print(f"\n‚úÖ Duplicate check: {df.duplicated().sum()} duplicates remaining")

üîç REMOVING DUPLICATE RECORDS
============================================================

BEFORE REMOVAL:
   ‚Ä¢ Total rows: 395
   ‚Ä¢ Duplicate rows: 0
   ‚Ä¢ Duplicate percentage: 0.00%

AFTER REMOVAL:
   ‚Ä¢ Total rows: 395
   ‚Ä¢ Rows removed: 0
   ‚Ä¢ Unique rows preserved: 395

‚úÖ Duplicate check: 0 duplicates remaining

In [10]:
# CELL 5: Standardize Column Names
# =================================
print("üìù STANDARDIZING COLUMN NAMES")
print("=" * 60)

print("\nSTANDARDIZATION RULES:")
print("-" * 40)
print("1. Convert to lowercase")
print("2. Replace spaces with underscores")
print("3. Remove special characters")
print("4. Ensure consistent naming convention")

# Store original column names
original_columns = df.columns.tolist()

print(f"\nORIGINAL COLUMN NAMES ({len(original_columns)} columns):")
for i, col in enumerate(original_columns, 1):
    print(f"   {i:2d}. {col}")

# Standardize column names
def standardize_column_name(name):
    """Convert column name to standard format."""
    name = str(name).lower()  # Lowercase
    name = name.replace(' ', '_')  # Replace spaces
    name = ''.join(char for char in name if char.isalnum() or char == '_')  # Remove special chars
    return name

df.columns = [standardize_column_name(col) for col in df.columns]

print(f"\nSTANDARDIZED COLUMN NAMES:")
for i, (old, new) in enumerate(zip(original_columns, df.columns), 1):
    if old != new:
        print(f"   {i:2d}. '{old}' ‚Üí '{new}'")
    else:
        print(f"   {i:2d}. {new} (unchanged)")

print(f"\n‚úÖ Column names standardized: {len(df.columns)} columns")

üìù STANDARDIZING COLUMN NAMES
============================================================

STANDARDIZATION RULES:
----------------------------------------
1. Convert to lowercase
2. Replace spaces with underscores
3. Remove special characters
4. Ensure consistent naming convention

ORIGINAL COLUMN NAMES (33 columns):
    1. school
    2. sex
    3. age
    4. address
    5. famsize
    6. Pstatus
    7. Medu
    8. Fedu
    9. Mjob
   10. Fjob
   11. reason
   12. guardian
   13. traveltime
   14. studytime
   15. failures
   16. schoolsup
   17. famsup
   18. paid
   19. activities
   20. nursery
   21. higher
   22. internet
   23. romantic
   24. famrel
   25. freetime
   26. goout
   27. Dalc
   28. Walc
   29. health
   30. absences
   31. G1
   32. G2
   33. G3

STANDARDIZED COLUMN NAMES:
    1. school (unchanged)
    2. sex (unchanged)
    3. age (unchanged)
    4. address (unchanged)
    5. famsize (unchanged)
    6. 'Pstatus' ‚Üí 'pstatus'
    7. 'Medu' ‚Üí 'medu'
    8. 'Fedu' ‚Üí 'fedu'
    9. 'Mjob' ‚Üí 'mjob'
   10. 'Fjob' ‚Üí 'fjob'
   11. reason (unchanged)
   12. guardian (unchanged)
   13. traveltime (unchanged)
   14. studytime (unchanged)
   15. failures (unchanged)
   16. schoolsup (unchanged)
   17. famsup (unchanged)
   18. paid (unchanged)
   19. activities (unchanged)
   20. nursery (unchanged)
   21. higher (unchanged)
   22. internet (unchanged)
   23. romantic (unchanged)
   24. famrel (unchanged)
   25. freetime (unchanged)
   26. goout (unchanged)
   27. 'Dalc' ‚Üí 'dalc'
   28. 'Walc' ‚Üí 'walc'
   29. health (unchanged)
   30. absences (unchanged)
   31. 'G1' ‚Üí 'g1'
   32. 'G2' ‚Üí 'g2'
   33. 'G3' ‚Üí 'g3'

‚úÖ Column names standardized: 33 columns

In [11]:
# CELL 6: Encode Categorical Variables
# ====================================
print("üî¢ ENCODING CATEGORICAL VARIABLES")
print("=" * 60)

print("\nENCODING STRATEGY:")
print("-" * 40)
print("üìä Simple Label Encoding")
print("   ‚Ä¢ Why? Converts categories to numerical format")
print("   ‚Ä¢ Preserves ordinal relationships where they exist")
print("   ‚Ä¢ Required for most machine learning algorithms")
print("   ‚Ä¢ Mapping saved for interpretability")

# Identify categorical columns
categorical_cols = df.select_dtypes(include=['object']).columns
print(f"\nCategorical columns to encode ({len(categorical_cols)}):")
for i, col in enumerate(categorical_cols, 1):
    unique_vals = df[col].nunique()
    print(f"   {i:2d}. {col} ({unique_vals} unique values)")

# Create dictionary to store mappings
encoding_mappings = {}

print("\nüîß ENCODING PROCESS:")
print("-" * 40)

for col in categorical_cols:
    # Get unique values and create mapping
    unique_values = df[col].unique()
    encoding_map = {value: idx for idx, value in enumerate(sorted(unique_values))}
    encoding_mappings[col] = encoding_map
    
    # Apply encoding
    df[col] = df[col].map(encoding_map)
    
    print(f"\n{col}:")
    for value, code in encoding_map.items():
        print(f"   '{value}' ‚Üí {code}")

print(f"\n‚úÖ Encoding complete. {len(categorical_cols)} columns encoded.")
print("\nüìã ENCODING MAPPING SUMMARY:")
for col, mapping in encoding_mappings.items():
    print(f"\n{col}: {len(mapping)} categories")
    # Show first few mappings for readability
    for i, (key, value) in enumerate(list(mapping.items())[:3]):
        print(f"   '{key}' ‚Üí {value}")
    if len(mapping) > 3:
        print(f"   ... and {len(mapping) - 3} more")

# Convert encoded columns to appropriate data type
for col in categorical_cols:
    df[col] = df[col].astype('category')

print(f"\n‚úÖ Data types updated to 'category' for encoded columns")

üî¢ ENCODING CATEGORICAL VARIABLES
============================================================

ENCODING STRATEGY:
----------------------------------------
üìä Simple Label Encoding
   ‚Ä¢ Why? Converts categories to numerical format
   ‚Ä¢ Preserves ordinal relationships where they exist
   ‚Ä¢ Required for most machine learning algorithms
   ‚Ä¢ Mapping saved for interpretability

Categorical columns to encode (17):
    1. school (2 unique values)
    2. sex (2 unique values)
    3. address (2 unique values)
    4. famsize (2 unique values)
    5. pstatus (2 unique values)
    6. mjob (5 unique values)
    7. fjob (5 unique values)
    8. reason (4 unique values)
    9. guardian (3 unique values)
   10. schoolsup (2 unique values)
   11. famsup (2 unique values)
   12. paid (2 unique values)
   13. activities (2 unique values)
   14. nursery (2 unique values)
   15. higher (2 unique values)
   16. internet (2 unique values)
   17. romantic (2 unique values)

üîß ENCODING PROCESS:
----------------------------------------

school:
   'GP' ‚Üí 0
   'MS' ‚Üí 1

sex:
   'F' ‚Üí 0
   'M' ‚Üí 1

address:
   'R' ‚Üí 0
   'U' ‚Üí 1

famsize:
   'GT3' ‚Üí 0
   'LE3' ‚Üí 1

pstatus:
   'A' ‚Üí 0
   'T' ‚Üí 1

mjob:
   'at_home' ‚Üí 0
   'health' ‚Üí 1
   'other' ‚Üí 2
   'services' ‚Üí 3
   'teacher' ‚Üí 4

fjob:
   'at_home' ‚Üí 0
   'health' ‚Üí 1
   'other' ‚Üí 2
   'services' ‚Üí 3
   'teacher' ‚Üí 4

reason:
   'course' ‚Üí 0
   'home' ‚Üí 1
   'other' ‚Üí 2
   'reputation' ‚Üí 3

guardian:
   'father' ‚Üí 0
   'mother' ‚Üí 1
   'other' ‚Üí 2

schoolsup:
   'no' ‚Üí 0
   'yes' ‚Üí 1

famsup:
   'no' ‚Üí 0
   'yes' ‚Üí 1

paid:
   'no' ‚Üí 0
   'yes' ‚Üí 1

activities:
   'no' ‚Üí 0
   'yes' ‚Üí 1

nursery:
   'no' ‚Üí 0
   'yes' ‚Üí 1

higher:
   'no' ‚Üí 0
   'yes' ‚Üí 1

internet:
   'no' ‚Üí 0
   'yes' ‚Üí 1

romantic:
   'no' ‚Üí 0
   'yes' ‚Üí 1

‚úÖ Encoding complete. 17 columns encoded.

üìã ENCODING MAPPING SUMMARY:

school: 2 categories
   'GP' ‚Üí 0
   'MS' ‚Üí 1

sex: 2 categories
   'F' ‚Üí 0
   'M' ‚Üí 1

address: 2 categories
   'R' ‚Üí 0
   'U' ‚Üí 1

famsize: 2 categories
   'GT3' ‚Üí 0
   'LE3' ‚Üí 1

pstatus: 2 categories
   'A' ‚Üí 0
   'T' ‚Üí 1

mjob: 5 categories
   'at_home' ‚Üí 0
   'health' ‚Üí 1
   'other' ‚Üí 2
   ... and 2 more

fjob: 5 categories
   'at_home' ‚Üí 0
   'health' ‚Üí 1
   'other' ‚Üí 2
   ... and 2 more

reason: 4 categories
   'course' ‚Üí 0
   'home' ‚Üí 1
   'other' ‚Üí 2
   ... and 1 more

guardian: 3 categories
   'father' ‚Üí 0
   'mother' ‚Üí 1
   'other' ‚Üí 2

schoolsup: 2 categories
   'no' ‚Üí 0
   'yes' ‚Üí 1

famsup: 2 categories
   'no' ‚Üí 0
   'yes' ‚Üí 1

paid: 2 categories
   'no' ‚Üí 0
   'yes' ‚Üí 1

activities: 2 categories
   'no' ‚Üí 0
   'yes' ‚Üí 1

nursery: 2 categories
   'no' ‚Üí 0
   'yes' ‚Üí 1

higher: 2 categories
   'no' ‚Üí 0
   'yes' ‚Üí 1

internet: 2 categories
   'no' ‚Üí 0
   'yes' ‚Üí 1

romantic: 2 categories
   'no' ‚Üí 0
   'yes' ‚Üí 1

‚úÖ Data types updated to 'category' for encoded columns

In [12]:
# CELL 7: Final Data Quality Checks
# ==================================
print("‚úÖ FINAL DATA QUALITY VERIFICATION")
print("=" * 60)

print("\n1. DATASET STRUCTURE AFTER CLEANING")
print("-" * 40)
df.info()

‚úÖ FINAL DATA QUALITY VERIFICATION
============================================================

1. DATASET STRUCTURE AFTER CLEANING
----------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    category
 1   sex         395 non-null    category
 2   age         395 non-null    int64
 3   address     395 non-null    category
 4   famsize     395 non-null    category
 5   pstatus     395 non-null    category
 6   medu        395 non-null    int64
 7   fedu        395 non-null    int64
 8   mjob        395 non-null    category
 9   fjob        395 non-null    category
 10  reason      395 non-null    category
 11  guardian    395 non-null    category
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    category
 16  famsup      395 non-null    category
 17  paid        395 non-null    category
 18  activities  395 non-null    category
 19  nursery     395 non-null    category
 20  higher      395 non-null    category
 21  internet    395 non-null    category
 22  romantic    395 non-null    category
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  dalc        395 non-null    int64
 27  walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  g1          395 non-null    int64
 31  g2          395 non-null    int64
 32  g3          395 non-null    int64
dtypes: category(17), int64(16)
memory usage: 58.4 KB

In [13]:
print("\n2. MISSING VALUES FINAL CHECK")
print("-" * 40)
missing_final = df.isnull().sum().sum()
if missing_final == 0:
    print(f"‚úÖ PERFECT: {missing_final} missing values")
else:
    print(f"‚ö†Ô∏è  WARNING: {missing_final} missing values remain")
    print("\nColumns with missing values:")
    print(df.isnull().sum()[df.isnull().sum() > 0])

2. MISSING VALUES FINAL CHECK
----------------------------------------
‚úÖ PERFECT: 0 missing values

In [14]:
print("\n3. DATA PREVIEW AFTER CLEANING")
print("-" * 40)
df.head()

3. DATA PREVIEW AFTER CLEANING
----------------------------------------

,school,sex,age,address,famsize,pstatus,medu,fedu,mjob,fjob,...,famrel,freetime,goout,dalc,walc,health,absences,g1,g2,g3
0,0,0,18,1,0,0,4,4,0,4,...,4,3,4,1,1,3,6,5,6,6
1,0,0,17,1,0,1,1,1,0,2,...,5,3,3,1,1,3,4,5,5,6
2,0,0,15,1,1,1,1,1,0,2,...,4,3,2,2,3,3,10,7,8,10
3,0,0,15,1,0,1,4,2,1,3,...,3,2,2,1,1,5,2,15,14,15
4,0,0,16,1,0,1,3,3,2,2,...,4,3,2,1,2,5,4,6,10,10

In [16]:
# CELL 8: Save Cleaned Data
# ==========================
print("üíæ SAVING CLEANED DATASET")
print("=" * 60)

# Define save path
save_path = '../data/cleaned/student_performance_cleaned.csv'

print(f"\nSAVE LOCATION:")
print(f"   Directory: data/cleaned/")
print(f"   Filename: student_performance_cleaned.csv")
print(f"   Full path: {save_path}")

# Ensure directory exists
import os
os.makedirs(os.path.dirname(save_path), exist_ok=True)

# Save the cleaned dataset
try:
    df.to_csv(save_path, index=False)
    print(f"\n‚úÖ SUCCESS: Cleaned data saved to {save_path}")
    print(f"   ‚Ä¢ File size: {os.path.getsize(save_path):,} bytes")
    print(f"   ‚Ä¢ Rows saved: {len(df):,}")
    print(f"   ‚Ä¢ Columns saved: {len(df.columns)}")
except Exception as e:
    print(f"\n‚ùå ERROR: Failed to save file - {str(e)}")
    raise

print("\nüìä CLEANING PROCESS SUMMARY")
print("=" * 60)
print(f"Initial shape: {initial_rows:,} √ó {len(original_columns)}")
print(f"Final shape:   {len(df):,} √ó {len(df.columns)}")
print(f"Rows removed:  {initial_rows - len(df)} (duplicates)")
print(f"Columns encoded: {len(categorical_cols)}")
print(f"Missing values: 0")
print(f"\n‚úÖ Data cleaning complete! Ready for analysis.")

üíæ SAVING CLEANED DATASET
============================================================

SAVE LOCATION:
   Directory: data/cleaned/
   Filename: student_performance_cleaned.csv
   Full path: ../data/cleaned/student_performance_cleaned.csv

‚úÖ SUCCESS: Cleaned data saved to ../data/cleaned/student_performance_cleaned.csv
   ‚Ä¢ File size: 27,939 bytes
   ‚Ä¢ Rows saved: 395
   ‚Ä¢ Columns saved: 33

üìä CLEANING PROCESS SUMMARY
============================================================
Initial shape: 395 √ó 33
Final shape:   395 √ó 33
Rows removed:  0 (duplicates)
Columns encoded: 17
Missing values: 0

‚úÖ Data cleaning complete! Ready for analysis.